{% extends '../base/modelo.html' %}

{% load static %}

{% block conteudo %}

<h1> Listagem Autores</h1>

<div class="table-responsive">
<table id="tblautores"class="table table-bordered table-striped">
    <thead  class="table-light text-center">
        <tr>
            <th>#</th>            
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Nascimento</th>
            <th>Falecimento</th>
            <th>Cadastrado em</th>
            <th>Alterado em</th>
            <th>Ativo</th>
            <th>
                <a href="{% url 'cadastrar-autor' %}" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="top"  title="Novo"> <i class="fas fa-plus" aria-hidden="true"></i> Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
       {% for campo in object_list %}
        <tr>
        <td class="text-center">{{ campo.autorID }}</td>        
        <td class="text-center">{{ campo.nome }}</td>
        <td class="text-center">{{ campo.sobrenome }}</td>
        <td class="text-center">{{ campo.datanascimento |date:"SHORT_DATETIME_FORMAT"}}</td>
        <td class="text-center">{{ campo.datafalecimento |date:"SHORT_DATETIME_FORMAT"}}</td>
        <td class="text-center">{{ campo.createdAt |date:"SHORT_DATETIME_FORMAT"}}</td>
        <td class="text-center">{{ campo.updatedAt |date:"SHORT_DATETIME_FORMAT"}}</td>
        <td class="text-center">
            {%if campo.is_active == True%}
                Sim
            {%else%}
            <span class="badge bg-danger">
                Não 
            </span>
            {%endif%}       
        </td>        
        <td class="text-center">        
            <a href="{% url 'editar-autor' campo.autorID %}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"  title="Editar"> <i class="fas fa-edit" aria-hidden="true"></i> Editar</a>
        </td>
        </tr>
       {% empty %}
        <!--tr> 
            <td class="bg-danger text-center text-white" colspan="9">
            Nenhum Registro encontrado
            </td>
        </tr-->    
       {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
