{% extends 'base/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Biblioteca</title>
{% endblock %}

{% block conteudo %}
<h3>Página inicial</h3>
<hr/>
<div class="d-flex justify-content-around">
    <span class="d-flex justify-content-start">Bem vindo ao sistema&nbsp; <strong> {{ request.user }}</strong>.</span>
    <span class="d-flex justify-content-end">Seu Perfil é&nbsp; <strong> {{user.groups.all.0.name}}</strong>.</span>
</div>
<hr/>
 {% if user.groups.all.0.name == "Alunos" %} 
    <h1> Meus Empréstimos</h1>

    <div class="table-responsive">
        <table id="tblmeusemprestimos"class="table table-bordered table-striped">
            <thead  class="table-light text-center">
                <tr>
                    <th>#</th>            
                    <th>Livro</th>
                    <th>Marca</th>
                    <th>Usuário</th>
                    <th>Empréstimo</th>
                    <th>Prazo Devolução</th>
                    <th>Devolução</th>
                    <th>Situação</th>           
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               {% for campo in object_list %}
                    <tr>
                        <td class="text-center">{{ campo.emprestimoID }}</td>        
                        <td class="text-center">{{ campo.livro }}</td>
                        <td class="text-center">{{ campo.marca }}</td>
                        <td class="text-center">{{ campo.usuario }}</td>
                        <td class="text-center">{{ campo.dataEmprestimo|date:"SHORT_DATE_FORMAT" }}</td>
                        <td class="text-center">{{ campo.dataPrazoDevolucao|date:"SHORT_DATE_FORMAT" }}</td>
                        <td class="text-center">{{ campo.dataDevolucao|date:"SHORT_DATE_FORMAT" }}</td>
                        <td class="text-center">
                            {%if campo.esta_atrasado%}
                                <span class="badge bg-danger">
                                    Atrasado
                                </span>        
                            {%else%}
                                <span class="badge bg-success">
                                    Em Dia 
                                </span>
                            {%endif%}       
                        </td>       
                        <td class="text-center">
                            {%if campo.is_active == True%}
                                Sim
                            {%else%}
                                <span class="badge bg-danger">
                                    Não 
                                </span>
                            {%endif%}       
                        </td>        
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="ocorrencias">
                                <a href="{% url 'emprestimo-detalhes' campo.emprestimoID %}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhe"> <i class="fas fa-info"></i> Detalhes</a>            
                            </div>
                        </td>    
                    </tr>
               {% endfor %}               
            </tbody>
        </table>
    </div>
 {% endif %}

{% endblock %}
